# Categorical Data: Unique Values, Membership, Dummies

In [4]:
import numpy as np
import pandas as pd
ser = pd.Series({'AAPL':'Tech','XOM':'Energy','MSFT':'Tech','LULU':'Consumer','TSLA':'Consumer','GS':'Financials',
                'BAC':'Financials'})
ser['ZYA'] = np.nan
ser

AAPL          Tech
XOM         Energy
MSFT          Tech
LULU      Consumer
TSLA      Consumer
GS      Financials
BAC     Financials
ZYA            NaN
dtype: str

In [5]:
# Get Unique values
ser.unique()

<StringArray>
['Tech', 'Energy', 'Consumer', 'Financials', nan]
Length: 5, dtype: str

In [6]:
# Get Unique Values & Counts
ser.value_counts()

Tech          2
Consumer      2
Financials    2
Energy        1
Name: count, dtype: int64

In [7]:
mask=ser.isin(['Financials','Tech'])
mask

AAPL     True
XOM     False
MSFT     True
LULU    False
TSLA    False
GS       True
BAC      True
ZYA     False
dtype: bool

In [8]:
ser[mask]

AAPL          Tech
MSFT          Tech
GS      Financials
BAC     Financials
dtype: str

In [11]:
pd.get_dummies(ser)

      Consumer  Energy  Financials   Tech
AAPL     False   False       False   True
XOM      False    True       False  False
MSFT     False   False       False   True
LULU      True   False       False  False
TSLA      True   False       False  False
GS       False   False        True  False
BAC      False   False        True  False
ZYA      False   False       False  False