In [35]:
import pandas as pd 
import numpy as np 

univ = ['SPY','TLT','VXX','QQQ']
dates = ['20210105','20210106','20210107','20210108','20210109']

In [36]:
earnings = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
ret_prev = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
pe = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)
analyst_est = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)

In [37]:
earnings

               SPY       TLT       VXX       QQQ
20210105 -0.961595  0.249789 -0.682286 -0.112061
20210106 -0.431255  0.334225 -1.264140 -0.494052
20210107  2.765517 -1.049507 -1.287900  0.072124
20210108  0.157475 -1.481632 -1.524877  2.347033
20210109 -1.859929 -0.330757  0.424138  1.758222

In [38]:
data = {}
data['earnings']=earnings
data['ret_prev']=ret_prev
data['pe']=pe
data['analyst_est']=analyst_est

In [39]:
multi = pd.concat(data)
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105 -0.961595  0.249789 -0.682286 -0.112061
            20210106 -0.431255  0.334225 -1.264140 -0.494052
            20210107  2.765517 -1.049507 -1.287900  0.072124
            20210108  0.157475 -1.481632 -1.524877  2.347033
            20210109 -1.859929 -0.330757  0.424138  1.758222
ret_prev    20210105  0.573350  0.295540  0.236666  2.093915
            20210106 -1.714842 -0.639015  1.165419 -0.470349
            20210107 -0.455086 -0.527382  0.609155  0.171300
            20210108 -1.913516 -0.414662 -0.937727 -1.018392
            20210109 -0.102054 -0.914829  1.188668 -0.037761
pe          20210105 -2.005125 -1.237084  1.956005 -0.767814
            20210106  0.020728 -0.809159  0.723743  2.439603
            20210107 -0.278330  0.357178  0.209154  0.565416
            20210108  0.040563 -2.482587  0.432219 -0.371838
            20210109 -0.022295  1.667454  0.295144 -1.169681
analyst_est 20210105 -0.413337  0.406692  0.383078 -1.873350
            20210106 -0.866597  1.343945 -1.304854 -2.165185
            20210107 -0.844749  0.778230 -0.143553 -0.118905
            20210108 -0.305433  0.033343  1.151193 -1.349313
            20210109  2.841135 -1.618933 -0.196805 -0.305204

In [40]:
multi.loc['pe']

               SPY       TLT       VXX       QQQ
20210105 -2.005125 -1.237084  1.956005 -0.767814
20210106  0.020728 -0.809159  0.723743  2.439603
20210107 -0.278330  0.357178  0.209154  0.565416
20210108  0.040563 -2.482587  0.432219 -0.371838
20210109 -0.022295  1.667454  0.295144 -1.169681

In [41]:
multi.loc['ret_prev':'analyst_est']

                           SPY       TLT       VXX       QQQ
ret_prev    20210105  0.573350  0.295540  0.236666  2.093915
            20210106 -1.714842 -0.639015  1.165419 -0.470349
            20210107 -0.455086 -0.527382  0.609155  0.171300
            20210108 -1.913516 -0.414662 -0.937727 -1.018392
            20210109 -0.102054 -0.914829  1.188668 -0.037761
pe          20210105 -2.005125 -1.237084  1.956005 -0.767814
            20210106  0.020728 -0.809159  0.723743  2.439603
            20210107 -0.278330  0.357178  0.209154  0.565416
            20210108  0.040563 -2.482587  0.432219 -0.371838
            20210109 -0.022295  1.667454  0.295144 -1.169681
analyst_est 20210105 -0.413337  0.406692  0.383078 -1.873350
            20210106 -0.866597  1.343945 -1.304854 -2.165185
            20210107 -0.844749  0.778230 -0.143553 -0.118905
            20210108 -0.305433  0.033343  1.151193 -1.349313
            20210109  2.841135 -1.618933 -0.196805 -0.305204

In [42]:
multi.loc[('ret_prev','20210107'),['SPY','TLT']]

SPY   -0.455086
TLT   -0.527382
Name: (ret_prev, 20210107), dtype: float64

In [43]:
ser = multi['SPY']
ser

earnings     20210105   -0.961595
             20210106   -0.431255
             20210107    2.765517
             20210108    0.157475
             20210109   -1.859929
ret_prev     20210105    0.573350
             20210106   -1.714842
             20210107   -0.455086
             20210108   -1.913516
             20210109   -0.102054
pe           20210105   -2.005125
             20210106    0.020728
             20210107   -0.278330
             20210108    0.040563
             20210109   -0.022295
analyst_est  20210105   -0.413337
             20210106   -0.866597
             20210107   -0.844749
             20210108   -0.305433
             20210109    2.841135
Name: SPY, dtype: float64

In [44]:
ser['pe']

20210105   -2.005125
20210106    0.020728
20210107   -0.278330
20210108    0.040563
20210109   -0.022295
Name: SPY, dtype: float64

In [45]:
# unstack a multindex series into a dataframe
ser.unstack(level=0)

          earnings  ret_prev        pe  analyst_est
20210105 -0.961595  0.573350 -2.005125    -0.413337
20210106 -0.431255 -1.714842  0.020728    -0.866597
20210107  2.765517 -0.455086 -0.278330    -0.844749
20210108  0.157475 -1.913516  0.040563    -0.305433
20210109 -1.859929 -0.102054 -0.022295     2.841135

In [46]:
ser.unstack(level=0).stack()

20210105  earnings      -0.961595
          ret_prev       0.573350
          pe            -2.005125
          analyst_est   -0.413337
20210106  earnings      -0.431255
          ret_prev      -1.714842
          pe             0.020728
          analyst_est   -0.866597
20210107  earnings       2.765517
          ret_prev      -0.455086
          pe            -0.278330
          analyst_est   -0.844749
20210108  earnings       0.157475
          ret_prev      -1.913516
          pe             0.040563
          analyst_est   -0.305433
20210109  earnings      -1.859929
          ret_prev      -0.102054
          pe            -0.022295
          analyst_est    2.841135
dtype: float64

In [79]:
multi = pd.concat(data,axis=1)

In [80]:
multi

          earnings                                ret_prev            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105 -0.961595  0.249789 -0.682286 -0.112061  0.573350  0.295540
20210106 -0.431255  0.334225 -1.264140 -0.494052 -1.714842 -0.639015
20210107  2.765517 -1.049507 -1.287900  0.072124 -0.455086 -0.527382
20210108  0.157475 -1.481632 -1.524877  2.347033 -1.913516 -0.414662
20210109 -1.859929 -0.330757  0.424138  1.758222 -0.102054 -0.914829

                                    pe                                \
               VXX       QQQ       SPY       TLT       VXX       QQQ
20210105  0.236666  2.093915 -2.005125 -1.237084  1.956005 -0.767814
20210106  1.165419 -0.470349  0.020728 -0.809159  0.723743  2.439603
20210107  0.609155  0.171300 -0.278330  0.357178  0.209154  0.565416
20210108 -0.937727 -1.018392  0.040563 -2.482587  0.432219 -0.371838
20210109  1.188668 -0.037761 -0.022295  1.667454  0.295144 -1.169681

         analyst_est
                 SPY       TLT       VXX       QQQ
20210105   -0.413337  0.406692  0.383078 -1.873350
20210106   -0.866597  1.343945 -1.304854 -2.165185
20210107   -0.844749  0.778230 -0.143553 -0.118905
20210108   -0.305433  0.033343  1.151193 -1.349313
20210109    2.841135 -1.618933 -0.196805 -0.305204

In [49]:
# indexing
multi['pe']

               SPY       TLT       VXX       QQQ
20210105 -2.005125 -1.237084  1.956005 -0.767814
20210106  0.020728 -0.809159  0.723743  2.439603
20210107 -0.278330  0.357178  0.209154  0.565416
20210108  0.040563 -2.482587  0.432219 -0.371838
20210109 -0.022295  1.667454  0.295144 -1.169681

In [52]:
multi[['pe','earnings']]

                pe                                earnings            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105 -2.005125 -1.237084  1.956005 -0.767814 -0.961595  0.249789
20210106  0.020728 -0.809159  0.723743  2.439603 -0.431255  0.334225
20210107 -0.278330  0.357178  0.209154  0.565416  2.765517 -1.049507
20210108  0.040563 -2.482587  0.432219 -0.371838  0.157475 -1.481632
20210109 -0.022295  1.667454  0.295144 -1.169681 -1.859929 -0.330757


               VXX       QQQ
20210105 -0.682286 -0.112061
20210106 -1.264140 -0.494052
20210107 -1.287900  0.072124
20210108 -1.524877  2.347033
20210109  0.424138  1.758222

In [56]:
# rearrange axes
multi.swaplevel(0,1,1)

,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ
,earnings,earnings,earnings,earnings,ret_prev,ret_prev,ret_prev,ret_prev,pe,pe,pe,pe,analyst_est,analyst_est,analyst_est,analyst_est
20210105,-0.961595,0.249789,-0.682286,-0.112061,0.573350,0.295540,0.236666,2.093915,-2.005125,-1.237084,1.956005,-0.767814,-0.413337,0.406692,0.383078,-1.873350
20210106,-0.431255,0.334225,-1.264140,-0.494052,-1.714842,-0.639015,1.165419,-0.470349,0.020728,-0.809159,0.723743,2.439603,-0.866597,1.343945,-1.304854,-2.165185
20210107,2.765517,-1.049507,-1.287900,0.072124,-0.455086,-0.527382,0.609155,0.171300,-0.278330,0.357178,0.209154,0.565416,-0.844749,0.778230,-0.143553,-0.118905
20210108,0.157475,-1.481632,-1.524877,2.347033,-1.913516,-0.414662,-0.937727,-1.018392,0.040563,-2.482587,0.432219,-0.371838,-0.305433,0.033343,1.151193,-1.349313
20210109,-1.859929,-0.330757,0.424138,1.758222,-0.102054,-0.914829,1.188668,-0.037761,-0.022295,1.667454,0.295144,-1.169681,2.841135,-1.618933,-0.196805,-0.305204

In [75]:
multi.swaplevel(0,1,axis=1).sort_index(axis=1)

                 QQQ                                       SPY            \
         analyst_est  earnings        pe  ret_prev analyst_est  earnings
20210105   -1.873350 -0.112061 -0.767814  2.093915   -0.413337 -0.961595
20210106   -2.165185 -0.494052  2.439603 -0.470349   -0.866597 -0.431255
20210107   -0.118905  0.072124  0.565416  0.171300   -0.844749  2.765517
20210108   -1.349313  2.347033 -0.371838 -1.018392   -0.305433  0.157475
20210109   -0.305204  1.758222 -1.169681 -0.037761    2.841135 -1.859929

                                     TLT                                \
                pe  ret_prev analyst_est  earnings        pe  ret_prev
20210105 -2.005125  0.573350    0.406692  0.249789 -1.237084  0.295540
20210106  0.020728 -1.714842    1.343945  0.334225 -0.809159 -0.639015
20210107 -0.278330 -0.455086    0.778230 -1.049507  0.357178 -0.527382
20210108  0.040563 -1.913516    0.033343 -1.481632 -2.482587 -0.414662
20210109 -0.022295 -0.102054   -1.618933 -0.330757  1.667454 -0.914829

                 VXX
         analyst_est  earnings        pe  ret_prev
20210105    0.383078 -0.682286  1.956005  0.236666
20210106   -1.304854 -1.264140  0.723743  1.165419
20210107   -0.143553 -1.287900  0.209154  0.609155
20210108    1.151193 -1.524877  0.432219 -0.937727
20210109   -0.196805  0.424138  0.295144  1.188668

In [77]:
# sum across an axis
multi.T.groupby(level=0).sum().T

          analyst_est  earnings        pe  ret_prev
20210105    -1.496918 -1.506153 -2.054018  3.199471
20210106    -2.992691 -1.855222  2.374916 -1.658788
20210107    -0.328976  0.500233  0.853418 -0.202013
20210108    -0.470211 -0.502001 -2.381643 -4.284297
20210109     0.720193 -0.008325  0.770623  0.134024

In [20]:
# standard pandas functions produce multi-index series
multi.mean()

earnings     SPY   -0.449762
             TLT   -0.098713
             VXX    0.213663
             QQQ    0.660159
ret_prev     SPY    0.126999
             TLT    0.592273
             VXX   -0.209566
             QQQ    0.916763
pe           SPY   -0.170553
             TLT   -0.051534
             VXX    0.311033
             QQQ   -0.273124
analyst_est  SPY   -0.394762
             TLT   -0.530634
             VXX   -0.388851
             QQQ   -0.065649
dtype: float64

In [81]:
multi.mean().unstack(level=1)

                  SPY       TLT       VXX       QQQ
earnings    -0.065957 -0.455576 -0.867013  0.714253
ret_prev    -0.722430 -0.440070  0.452436  0.147743
pe          -0.448892 -0.500839  0.723253  0.139137
analyst_est  0.082204  0.188655 -0.022188 -1.162392