# PDB - Debugging Tool

In [2]:
import pdb

for x in ['AAPL','GS']:
    
    if x == 'AAPL':
        sector = 'Tech'
        tick_sz = len(x)
    
    elif x == 'GS':
        sector = 'Fin'
        tick_sz = len(x)
    
    pdb.set_trace()

> /tmp/ipykernel_26355/3730924106.py(3)<module>()
      1 import pdb
      2
----> 3 for x in ['AAPL','GS']:
      4
      5     if x == 'AAPL':

> /tmp/ipykernel_26355/3730924106.py(3)<module>()
      1 import pdb
      2
----> 3 for x in ['AAPL','GS']:
      4
      5     if x == 'AAPL':

# Rolling

In [4]:
import pandas as pd 
import numpy as np 

univ = ['AAPL','MSFT','BAC','GS']
dates = pd.date_range('20110101','20201231')
df = pd.DataFrame(np.random.randn(len(dates),len(univ)),index=dates,columns=univ)
df

                AAPL      MSFT       BAC        GS
2011-01-01 -0.730158 -0.181753  0.266918  1.524596
2011-01-02  0.959729 -0.632830 -1.031744  0.154822
2011-01-03 -0.454175 -1.477759 -0.902953  0.456785
2011-01-04 -0.450886  0.083170 -1.250216 -2.005871
2011-01-05 -0.964411  1.655491  0.663114  0.086861
...              ...       ...       ...       ...
2020-12-27 -0.669434 -0.087445 -1.584035  0.296776
2020-12-28 -0.379581  1.250008  1.185360  0.206782
2020-12-29  1.030775 -0.206971  2.096692  0.768553
2020-12-30 -0.373946  0.286796 -0.584989  0.900699
2020-12-31  0.498862 -1.933179  0.454571 -0.611732

[3653 rows x 4 columns]

In [5]:
df.rolling(252).mean()

                AAPL      MSFT       BAC        GS
2011-01-01       NaN       NaN       NaN       NaN
2011-01-02       NaN       NaN       NaN       NaN
2011-01-03       NaN       NaN       NaN       NaN
2011-01-04       NaN       NaN       NaN       NaN
2011-01-05       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...
2020-12-27  0.004001  0.140353  0.021194 -0.102025
2020-12-28  0.001911  0.150158  0.027683 -0.101661
2020-12-29  0.006128  0.144397  0.036637 -0.099685
2020-12-30  0.003384  0.150629  0.041057 -0.098815
2020-12-31  0.004188  0.142193  0.040895 -0.095202

[3653 rows x 4 columns]

In [6]:
df.rolling(252,min_periods=1).mean()

                AAPL      MSFT       BAC        GS
2011-01-01 -0.730158 -0.181753  0.266918  1.524596
2011-01-02  0.114786 -0.407291 -0.382413  0.839709
2011-01-03 -0.074868 -0.764114 -0.555927  0.712068
2011-01-04 -0.168872 -0.552293 -0.729499  0.032583
2011-01-05 -0.327980 -0.110736 -0.450976  0.043439
...              ...       ...       ...       ...
2020-12-27  0.004001  0.140353  0.021194 -0.102025
2020-12-28  0.001911  0.150158  0.027683 -0.101661
2020-12-29  0.006128  0.144397  0.036637 -0.099685
2020-12-30  0.003384  0.150629  0.041057 -0.098815
2020-12-31  0.004188  0.142193  0.040895 -0.095202

[3653 rows x 4 columns]

# Quantiles

In [7]:
qcut = pd.qcut(df['AAPL'],10,labels = False)

In [8]:
qcut

2011-01-01    2
2011-01-02    8
2011-01-03    3
2011-01-04    3
2011-01-05    1
             ..
2020-12-27    2
2020-12-28    3
2020-12-29    8
2020-12-30    3
2020-12-31    6
Freq: D, Name: AAPL, Length: 3653, dtype: int64

In [9]:
qcut.value_counts().sort_index()

AAPL
0    366
1    365
2    365
3    365
4    366
5    365
6    365
7    365
8    365
9    366
Name: count, dtype: int64

In [10]:
df['AAPL'].groupby(qcut).describe()

,count,mean,std,min,25%,50%,75%,max
AAPL,,,,,,,,
0,366.0,-1.743096,0.374813,-3.519120,-1.908604,-1.655696,-1.484106,-1.288788
1,365.0,-1.055094,0.117954,-1.281065,-1.151674,-1.050518,-0.955582,-0.864644
2,365.0,-0.698852,0.093135,-0.864362,-0.778421,-0.690534,-0.615329,-0.549868
3,365.0,-0.401600,0.085714,-0.548291,-0.479444,-0.395590,-0.329179,-0.264340
4,366.0,-0.135784,0.073525,-0.263436,-0.198588,-0.134187,-0.074640,-0.011117
5,365.0,0.103507,0.064742,-0.009138,0.047454,0.099241,0.159927,0.218838
6,365.0,0.362734,0.084134,0.219049,0.291289,0.357562,0.433955,0.513253
7,365.0,0.658443,0.084970,0.514976,0.580334,0.660163,0.726566,0.810554
8,365.0,1.037194,0.128235,0.810979,0.929726,1.041981,1.146284,1.256890
9,366.0,1.768967,0.463436,1.257612,1.398335,1.629070,1.993065,3.750380

In [11]:
other_signal = pd.Series(np.random.randn(len(dates)),index=dates)
other_signal

2011-01-01    0.007377
2011-01-02   -1.059836
2011-01-03    0.504470
2011-01-04   -0.334413
2011-01-05   -0.012803
                ...
2020-12-27   -1.738345
2020-12-28    0.477654
2020-12-29   -0.453808
2020-12-30    0.644954
2020-12-31    1.542862
Freq: D, Length: 3653, dtype: float64

In [12]:
other_signal.groupby(qcut).mean()

AAPL
0    0.096480
1   -0.060615
2   -0.048867
3    0.027634
4    0.021898
5   -0.009110
6    0.074789
7    0.023935
8    0.007572
9    0.034442
dtype: float64

# Shift

In [13]:
df.shift()

                AAPL      MSFT       BAC        GS
2011-01-01       NaN       NaN       NaN       NaN
2011-01-02 -0.730158 -0.181753  0.266918  1.524596
2011-01-03  0.959729 -0.632830 -1.031744  0.154822
2011-01-04 -0.454175 -1.477759 -0.902953  0.456785
2011-01-05 -0.450886  0.083170 -1.250216 -2.005871
...              ...       ...       ...       ...
2020-12-27 -1.012954 -0.281600  0.119890  0.544623
2020-12-28 -0.669434 -0.087445 -1.584035  0.296776
2020-12-29 -0.379581  1.250008  1.185360  0.206782
2020-12-30  1.030775 -0.206971  2.096692  0.768553
2020-12-31 -0.373946  0.286796 -0.584989  0.900699

[3653 rows x 4 columns]

In [14]:
df / df.shift() -1

                AAPL       MSFT        BAC        GS
2011-01-01       NaN        NaN        NaN       NaN
2011-01-02 -2.314413   2.481813  -4.865403 -0.898451
2011-01-03 -1.473232   1.335160  -0.124828  1.950395
2011-01-04 -0.007241  -1.056281   0.384585 -5.391278
2011-01-05  1.138924  18.904893  -1.530400 -1.043303
...              ...        ...        ...       ...
2020-12-27 -0.339127  -0.689470 -14.212419 -0.455080
2020-12-28 -0.432982 -15.294788  -1.748316 -0.303239
2020-12-29 -3.715561  -1.165575   0.768824  2.716733
2020-12-30 -1.362781  -2.385682  -1.279006  0.171942
2020-12-31 -2.334048  -7.740620  -1.777058 -1.679175

[3653 rows x 4 columns]

In [15]:
port = df
port

                AAPL      MSFT       BAC        GS
2011-01-01 -0.730158 -0.181753  0.266918  1.524596
2011-01-02  0.959729 -0.632830 -1.031744  0.154822
2011-01-03 -0.454175 -1.477759 -0.902953  0.456785
2011-01-04 -0.450886  0.083170 -1.250216 -2.005871
2011-01-05 -0.964411  1.655491  0.663114  0.086861
...              ...       ...       ...       ...
2020-12-27 -0.669434 -0.087445 -1.584035  0.296776
2020-12-28 -0.379581  1.250008  1.185360  0.206782
2020-12-29  1.030775 -0.206971  2.096692  0.768553
2020-12-30 -0.373946  0.286796 -0.584989  0.900699
2020-12-31  0.498862 -1.933179  0.454571 -0.611732

[3653 rows x 4 columns]

In [16]:
ret = df
ret

                AAPL      MSFT       BAC        GS
2011-01-01 -0.730158 -0.181753  0.266918  1.524596
2011-01-02  0.959729 -0.632830 -1.031744  0.154822
2011-01-03 -0.454175 -1.477759 -0.902953  0.456785
2011-01-04 -0.450886  0.083170 -1.250216 -2.005871
2011-01-05 -0.964411  1.655491  0.663114  0.086861
...              ...       ...       ...       ...
2020-12-27 -0.669434 -0.087445 -1.584035  0.296776
2020-12-28 -0.379581  1.250008  1.185360  0.206782
2020-12-29  1.030775 -0.206971  2.096692  0.768553
2020-12-30 -0.373946  0.286796 -0.584989  0.900699
2020-12-31  0.498862 -1.933179  0.454571 -0.611732

[3653 rows x 4 columns]

In [17]:
port_ret = (port.shift()*ret)
port_ret

                AAPL      MSFT       BAC        GS
2011-01-01       NaN       NaN       NaN       NaN
2011-01-02 -0.700754  0.115019 -0.275391  0.236041
2011-01-03 -0.435885  0.935170  0.931616  0.070720
2011-01-04  0.204781 -0.122905  1.128886 -0.916252
2011-01-05  0.434840  0.137687 -0.829035 -0.174232
...              ...       ...       ...       ...
2020-12-27  0.678105  0.024624 -0.189910  0.161631
2020-12-28  0.254104 -0.109307 -1.877652  0.061368
2020-12-29 -0.391263 -0.258715  2.485334  0.158923
2020-12-30 -0.385454 -0.059358 -1.226542  0.692235
2020-12-31 -0.186547 -0.554427 -0.265919 -0.550987

[3653 rows x 4 columns]

In [18]:
port_ret.sum(1)

/tmp/ipykernel_26355/21505153.py:1: Pandas4Warning: Starting with pandas version 4.0 all arguments of sum will be keyword-only.
  port_ret.sum(1)

2011-01-01    0.000000
2011-01-02   -0.625085
2011-01-03    1.501622
2011-01-04    0.294510
2011-01-05   -0.430741
                ...
2020-12-27    0.674451
2020-12-28   -1.671486
2020-12-29    1.994279
2020-12-30   -0.979119
2020-12-31   -1.557880
Freq: D, Length: 3653, dtype: float64